@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #059669;
    --color-accent:  #f97316;
}

body {
    @apply font-sans text-dark bg-gray-50 antialiased;
}

html {
    scroll-behavior: smooth;
}
